### 1. Square Root

In [1]:
num=(int(input("Enter A Number : ")))
sqrt=num**2
print("Square Root Is : ",sqrt)

Enter A Number : 5
Square Root Is :  25

### 2. Area Of Triangle

In [2]:
height=int(input("Enter The Height Of The Triangle : "))
base=int(input("Enter The Base Of The Triangle : "))
area=1/2*base*height
print("Area Of The Triangle is : ",area)

Enter The Height Of The Triangle : 8
Enter The Base Of The Triangle : 5
Area Of The Triangle is :  20.0

### 3.   Odd Or Even

In [3]:
num=int(input("Enter A Number : "))
if num%2==0:
    print("Even Number")
else:
    print("Odd Number")

Enter A Number : 5
Odd Number

### 4. Display Calendar

In [4]:
import calendar

In [5]:
print(calendar.month(2023,10))

    October 2023
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

### 5. Extension from the file name

In [6]:
filename=input("Enter Filename : ")
extension=filename.split(".")
ext=extension[-1]
print("Extension fo file is : ",ext)

Enter Filename : example.txt
Extension fo file is :  txt

### 6. To Find Vowels

In [7]:
string=input("Enter A String : ")
vowels="AEIOUaeiou"
count=0
for i in string:
    if i in vowels:
        count=count+1
print("Number Of Vowels is : ",count)

Enter A String : Amal Roshan
Number Of Vowels is :  4

### 7. Check Positive Negative Or Zero

In [8]:
number=int(input("Enter A Number : "))
if number>0:
    print("Postive Number")
elif number<0:
    print("Negative Number")
else:
    print("Its Zero")

Enter A Number : 0
Its Zero

### 8. Find Largest among Numbers

In [16]:
num1=14
num2=35
num3=75
num4=24
if (num1>=num2) and (num1>=num3) and (num1>=num4):
    largest=num1
elif (num2>=num1) and (num2>=num3) and(num2>=num4):
    largest=num2
elif (num3>=num1) and (num3>=num2) and (num3>=num4):
    largest=num3
else:
    largest=num4
print("Largest Number Is : ",largest)

Largest Number Is :  75

### 9. Duplicate

In [11]:
list_1 = [1, 2, 1, 4, 6]
print(list(set(list_1)))

[1, 2, 4, 6]

### 10. Last Element Of A List

In [12]:
my_List = ['a', 'b', 'c', 'd', 'e']
print(my_List[-1])

e

### 11. To Check A Key Is Present On a Dictionary

In [13]:
elements= {1: 'a', 2: 'b', 3: 'c'}
if 2 in elements:
    print("present")

present

### 12. Concateneate List

In [15]:
list1 = [1, 'a']
list2 = [2,'b']
list3 = [3,'c']
newlist = list1 + list2 + list3
print(newlist)

[1, 'a', 2, 'b', 3, 'c']

### 13. Swap Two Numbers

In [5]:
a=int(input("Enter Value Of a : "))
b=int(input("Enter Value Of b : "))

swap=a
a=b
b=swap

print('The value of a after swapping:',a)
print('The value of b after swapping:',b)

Enter Value Of a : 25
Enter Value Of b : 15
The value of a after swapping: 15
The value of b after swapping: 25

### 14. Multiplication Table

In [24]:
num = int(input("Display multiplication table of? "))

for i in range(1, 11):
    print(num, 'x', i, '=', num*i)

Display multiplication table of? 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

### 15. Reverse User Name

In [25]:
firstname=input("Enter Your First Name : ")
lastname=input("Enter Your Last Name : ")
print(lastname+" "+firstname)

Enter Your First Name : Amal
Enter Your Last Name : Roshan
Roshan Amal

### 16.Sum Of 3 Given Numbers`, If Same 3 times The Value

In [27]:
def add(a,b,c):
    if a==b==c:
        return 3*(a+b+c)
    else:
        return(a+b+c)

In [28]:
add(2,2,2)

18

In [29]:
add(5,6,8)

19

### 17. Volume Of Sphere

In [30]:
r=int(input("Enter Radius Of Sphere : " ))
volume = 4/3*3.14*r**3
print("Volume Of A Sphere is : ",volume)

Enter Radius Of Sphere : 8
Volume Of A Sphere is :  2143.5733333333333

### 18. Make A Unique List And Sample List (Unique Characters In Unique List)

In [31]:
samp_list = [10, 20, 30, 20, 10, 50, 60, 40, 80, 50, 40]
unique_list=[]
for item in samp_list:
    if item not in unique_list:
        unique_list.append(item)
print("Sample List : ",samp_list)
print("Unique List : ",unique_list)

Sample List :  [10, 20, 30, 20, 10, 50, 60, 40, 80, 50, 40]
Unique List :  [10, 20, 30, 50, 60, 40, 80]

### 19. Receive 3 parameters from user and to a task by using all those parameters

In [32]:
def wish(name,university,year):
    name=input("Enter Your Name : ")
    university=input("Enter Your University : ")
    year=input("Enter Your Year Of Graduation : ")
    return f"Hey {name} , you have completed degree in {university} on the year of {year}"
wish("name","university","year")

Enter Your Name : Amal Roshan
Enter Your University : Calicut University
Enter Your Year Of Graduation : 2023

'Hey Amal Roshan , you have completed degree in Calicut University on the year of 2023'

### 20. Find Names Using First Name Middle Name And Last Name

In [37]:
storage={}
storage['first']={}
storage['middle']={}
storage['last']={}

p1 = 'Hussain Al Jassmi'
p2= 'Hussain Bin Kureshi'
storage['first']['Hussain']=p1,p2
storage['middle']['Al']=p1
storage['last']['Jassmi']=p1
storage['first']['Hussain']=p1,p2
storage['middle']['Bin']=p2
storage['last']['Kureshi']=p2
storage

{'first': {'Hussain': ('Hussain Al Jassmi', 'Hussain Bin Kureshi')},
 'middle': {'Al': 'Hussain Al Jassmi', 'Bin': 'Hussain Bin Kureshi'},
 'last': {'Jassmi': 'Hussain Al Jassmi', 'Kureshi': 'Hussain Bin Kureshi'}}

In [38]:
storage['first']['Hussain']

('Hussain Al Jassmi', 'Hussain Bin Kureshi')

### 21. Leap Year

In [10]:
import calendar
year=int(input("Enter A Year : "))
leapyear=calendar.isleap(year)
if leapyear:
    print("Its A Leap Year")
else:
    print("Its Not A Leap Year")

Enter A Year : 2018
Its Not A Leap Year

### 22. Calculator

In [5]:
def add (x,y):
    return x+y
def subtract (x,y):
    return x-y
def multiply (x,y):
    return x*y
def divide (x,y):
    if b !=0:
        return x/y
    else:
        return "Error: Cannot Divided By Zero"
def calculator():
    print("Simple Calculator")
    print("1. Addition")
    print("2. Subtraction")
    print("3. Multiplication")
    print("4. Division")
    
choice = float(input("Enter Your Choice Between (1-4) :"))
num1 = int(input("Enter The First Number : "))
num2 = int(input("Enter The Second Number : "))

if choice==1:
    result = add(num1,num2)
    print("Result : ",result)
if choice==2:
    result = subtract(num1,num2)
    print("Result : ",result)
if choice==3:
    result = multiply(num1,num2)
    print("Result : ",result)
if choice==4:
    result = divide(num1,num2)
    print("Result : ",result)
calculator()

Enter Your Choice Between (1-4) :1
Enter The First Number : 45
Enter The Second Number : 15
Result :  60
Simple Calculator
1. Addition
2. Subtraction
3. Multiplication
4. Division

# PATTERNS

In [9]:
for i in range(6):
    print(" *"*(i+1))

 *
 * *
 * * *
 * * * *
 * * * * *
 * * * * * *

In [6]:
for i in range(6,0,-1):
    print(" *"*i)

 * * * * * *
 * * * * *
 * * * *
 * * *
 * *
 *

In [7]:
n=int(input("Enter A Number : "))
for i in range(1,n+1):
    print(" "*(n-i)," *"* i)

Enter A Number : 10
           *
          * *
         * * *
        * * * *
       * * * * *
      * * * * * *
     * * * * * * *
    * * * * * * * *
   * * * * * * * * *
  * * * * * * * * * *

In [13]:
for i in range(1,7):
    print(" "*(6-i)," *"* i)

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *

In [5]:
for i in range(6,0,-1):
    print(" "*(6-i)," *"*i)

  * * * * * *
   * * * * *
    * * * *
     * * *
      * *
       *

In [7]:
for i in range(1,7):
    print(" "*(6-i)," *"* i)
for i in range(5,0,-1):
    print(" "*(6-i)," *"*i)

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
   * * * * *
    * * * *
     * * *
      * *
       *